*
  box-sizing: border-box

html,body
  background  : rgb(33,33,33)
  margin      : 0
  padding     : 0
  font-family : 'Open Sans', arial, sans-serif
  font-weight : 300
  color       : rgb(246,246,246)
  font-size   : 11px

body
  overflow: hidden
.divider
  position: relative
  border-bottom: solid 1px rgb(0,0,0)

div::-webkit-scrollbar,
div::-webkit-scrollbar-track,
div::-webkit-scrollbar-track-piece
  background: rgb(33,33,33)

div::-webkit-scrollbar
  width: 8px

div::-webkit-scrollbar-thumb
  background: rgb(20,20,20)
  border-radius: 999px

.hide 
  position: relative
  top: -9999px
  left: -9999px

#game
  z-index: 1

#ui
  position: fixed
  width: 100%
  height: 100%
  z-index: 10

.wrap1
  padding: 24px
  background: rgb(22,22,22)
  width: 100%
  height: 100%

.wrap2
  background: rgb(33,33,33)
  border-radius: 4px
  height: 100%
  overflow: hidden

.divider:after
  width: 100%
  content: ''
  width: 100%
  position: absolute
  bottom: -2px
  left: 0
  border-bottom: solid 1px rgb(48,48,48)

.clear
  display: block
  clear: both

nav
  .tab
    cursor: pointer
    float: left
    font-size: 13px
    display: inline-block
    padding: 8px 16px
    &.active
      background: rgb(40,40,40)

form
  padding: 24px 40px
  border-right: solid 1px rgb(48,48,48)
.title
  color: rgb(246,246,246)
  font-weight: 600
  letter-spacing: 0.1em
  padding-bottom: 8px
  text-shadow: 1px 1px #000000

.p0 table,
.p1 table
  margin-right: 16px
.text_field
  margin-bottom: 16px
  .lbl,
  label
    font-weight: 600
    font-size: 11px
  .input,
  input
    padding: 6px 8px
    width: 70px
    color: rgb(255,255,255)
    outline: none
    height: 29px
    font-size: 11px
    border-radius: 3px
    border: solid 1px rgb(0,0,0)
    background: rgb(42,42,42)
    box-shadow: inset 0px 0px 3px #111
  .input.setting
    border: solid 1px rgb(0,0,0)
    background: rgb(62,62,62)
    box-shadow: inset 0px 0px 3px #111
  &.host input
    min-width: 120px
  &.replay_dir label
    display: block
    padding-bottom: 8px
  &.replay_dir .input 
    width: 100%
.button,
input[type='submit']
  cursor: pointer
  display: inline-block
  outline: none
  min-width: 80px
  text-align: center
  font-size: 11px
  border-radius: 3px
  color: rgb(255,255,255)
  background: linear-gradient(rgb(47,47,47), rgb(32,32,32))
  border: solid 1px rgb(0,0,0)
  padding: 6px 10px
  padding-bottom: 7px
.button.small
  min-width: auto
  padding: 2px 7px
.button.small.icon .fa
  margin-right: 4px
.data-table
  color: rgb(255,255,255)
  outline: none
  font-size: 11px
  border-radius: 3px
  border: solid 1px rgb(0,0,0)
  background: rgb(42,42,42)
  box-shadow: inset 0px 0px 3px #111
  overflow: auto
  table
    width: 100%
    border-collapse: collapse
  .item td
    padding: 6px 8px
  tr:nth-child(odd) td
    background: rgb(38,38,38)

.p0, .p1 
  float: left

.settings_assets .buttons,
.settings_replay .buttons
  padding-top: 16px
  text-align: right
.settings_assets .buttons .reveal,
.settings_assets .buttons .change,
.settings_replay .buttons .reveal,
.settings_replay .buttons .change
  margin-right: 8px;
.settings_replay .data-table
  height: 260px
.settings_replay .actions
  text-align: right
.settings_replay .actions .replay
  margin-right: 8px

.logo
  background: url('../assets/images/logo.png') no-repeat
  width: 292px
  height: 270px
  margin: 0px auto

main
  text-align: center
  width: 100%
  height: 100%
  padding: 24px
  background: rgb(22,22,22)
  form
    display: inline-block
    padding: 0
      top: 16px
    border: none
  .err
    text-align: left
    padding-top: 2px
    font-size: 13px
    color: rgb(255,53,53)
    padding-left: 4px
  .text_field input
    width: 320px
    font-size: 16px
    padding: 10px
    height: auto
  .submit
    text-align: left
    input[type='submit'],
    .button
      font-size: 15px
      padding: 10px 25px
    input[type='submit']
      color: rgb(255,255,255)
      background: linear-gradient(rgb(233,69,118), rgb(109,29,87))
    .button
      margin-left: 16px
  .or
    border-bottom: solid 1px rgb(33,33,33)
    position: relative
    height: 1px
    margin: 24px 0
    text-align: center
    span
      top: -10px
      font-size: 14px
      position: relative
      background: rgb(22,22,22)
      padding: 0px 8px
      color: rgb(40,40,40)
      font-weight: 600
      display: inline-block
  .connect.discord
    cursor: pointer
    background: #7289da
    border-bottom: solid 4px rgb(46,54,93)
    border-radius: 3px
    font-size: 16px
    font-weight: 500
    padding: 12px
    width: 320px
    margin-bottom: 16px
    position: relative
    &:hover
      background: #718ae1
    .icon
      cursor: pointer
      display: block
      top: 3px
      left: 16px
      position: absolute
      background: url('discord_icon.png')
      width: 40px
      height: 40px
      background-size: contain

main.login

  .skip
    font-size: 14px
    color: rgb(120,120,120)
    cursor: pointer
    &:hover
      color: rgb(255,255,255)

  .signup
    width: 320px
    font-size: 16px
    color: rgb(120,120,120)
    margin: 16px auto
    padding: 16px 0
    border: dashed 1px rgb(33,33,33)
    cursor: pointer
    border-radius: 4px
    .action
      font-weight: 600
      padding-left: 8px
      color: rgb(233,69,118)
      cursor: pointer
    &:hover
      border: dashed 1px rgb(233,69,118)
      .action
        color: #f8769d

  .forgot
    display: inline-block
    padding-left: 20px
    color: rgb(120,120,120)
    font-weight: 500px
    cursor: pointer
    font-size: 13px
    &:hover
      color: rgb(230,230,230)
