* {
  box-sizing: border-box; }

html, body {
  background: #212121;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  color: #f6f6f6;
  font-size: 11px; }

body {
  overflow: hidden; }

.divider {
  position: relative;
  border-bottom: solid 1px black; }

div::-webkit-scrollbar,
div::-webkit-scrollbar-track,
div::-webkit-scrollbar-track-piece {
  background: #212121; }

div::-webkit-scrollbar {
  width: 8px; }

div::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 999px; }

.hide {
  position: relative;
  top: -9999px;
  left: -9999px; }

#game {
  z-index: 1; }

#ui {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10; }

.wrap1 {
  padding: 24px;
  background: #161616;
  width: 100%;
  height: 100%; }

.wrap2 {
  background: #212121;
  border-radius: 4px;
  height: 100%;
  overflow: hidden; }

.divider:after {
  width: 100%;
  content: '';
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: solid 1px #303030; }

.clear {
  display: block;
  clear: both; }

nav .tab {
  cursor: pointer;
  float: left;
  font-size: 13px;
  display: inline-block;
  padding: 8px 16px; }
  nav .tab.active {
    background: #282828; }

form {
  padding: 24px 40px;
  border-right: solid 1px #303030; }

.title {
  color: #f6f6f6;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  text-shadow: 1px 1px #000000; }

.p0 table,
.p1 table {
  margin-right: 16px; }

.text_field {
  margin-bottom: 16px; }
  .text_field .lbl,
  .text_field label {
    font-weight: 600;
    font-size: 11px; }
  .text_field .input,
  .text_field input {
    padding: 6px 8px;
    width: 70px;
    color: white;
    outline: none;
    height: 29px;
    font-size: 11px;
    border-radius: 3px;
    border: solid 1px black;
    background: #2a2a2a;
    box-shadow: inset 0px 0px 3px #111; }
  .text_field .input.setting {
    border: solid 1px black;
    background: #3e3e3e;
    box-shadow: inset 0px 0px 3px #111; }
  .text_field.host input {
    min-width: 120px; }
  .text_field.replay_dir label {
    display: block;
    padding-bottom: 8px; }
  .text_field.replay_dir .input {
    width: 100%; }

.button,
input[type='submit'] {
  cursor: pointer;
  display: inline-block;
  outline: none;
  min-width: 80px;
  text-align: center;
  font-size: 11px;
  border-radius: 3px;
  color: white;
  background: linear-gradient(#2f2f2f, #202020);
  border: solid 1px black;
  padding: 6px 10px;
  padding-bottom: 7px; }

.button.small {
  min-width: auto;
  padding: 2px 7px; }

.button.small.icon .fa {
  margin-right: 4px; }

.data-table {
  color: white;
  outline: none;
  font-size: 11px;
  border-radius: 3px;
  border: solid 1px black;
  background: #2a2a2a;
  box-shadow: inset 0px 0px 3px #111;
  overflow: auto; }
  .data-table table {
    width: 100%;
    border-collapse: collapse; }
  .data-table .item td {
    padding: 6px 8px; }
  .data-table tr:nth-child(odd) td {
    background: #262626; }

.p0, .p1 {
  float: left; }

.settings_assets .buttons,
.settings_replay .buttons {
  padding-top: 16px;
  text-align: right; }

.settings_assets .buttons .reveal,
.settings_assets .buttons .change,
.settings_replay .buttons .reveal,
.settings_replay .buttons .change {
  margin-right: 8px; }

.settings_replay .data-table {
  height: 260px; }

.settings_replay .actions {
  text-align: right; }

.settings_replay .actions .replay {
  margin-right: 8px; }

.logo {
  background: url("../assets/images/logo.png") no-repeat;
  width: 292px;
  height: 270px;
  margin: 0px auto; }

main {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  background: #161616; }
  main form {
    display: inline-block;
    padding: 0;
      padding-top: 16px;
    border: none; }
  main .err {
    text-align: left;
    padding-top: 2px;
    font-size: 13px;
    color: #ff3535;
    padding-left: 4px; }
  main .text_field input {
    width: 320px;
    font-size: 16px;
    padding: 10px;
    height: auto; }
  main .submit {
    text-align: left; }
    main .submit input[type='submit'],
    main .submit .button {
      font-size: 15px;
      padding: 10px 25px; }
    main .submit input[type='submit'] {
      color: white;
      background: linear-gradient(#e94576, #6d1d57); }
    main .submit .button {
      margin-left: 16px; }
  main .or {
    border-bottom: solid 1px #212121;
    position: relative;
    height: 1px;
    margin: 24px 0;
    text-align: center; }
    main .or span {
      top: -10px;
      font-size: 14px;
      position: relative;
      background: #161616;
      padding: 0px 8px;
      color: #282828;
      font-weight: 600;
      display: inline-block; }
  main .connect.discord {
    cursor: pointer;
    background: #7289da;
    border-bottom: solid 4px #2e365d;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    width: 320px;
    margin-bottom: 16px;
    position: relative; }
    main .connect.discord:hover {
      background: #718ae1; }
    main .connect.discord .icon {
      cursor: pointer;
      display: block;
      top: 3px;
      left: 16px;
      position: absolute;
      background: url("discord_icon.png");
      width: 40px;
      height: 40px;
      background-size: contain; }

main.login .skip {
  font-size: 14px;
  color: #787878;
  cursor: pointer; }
  main.login .skip:hover {
    color: white; }

main.login .signup {
  width: 320px;
  font-size: 16px;
  color: #787878;
  margin: 16px auto;
  padding: 16px 0;
  border: dashed 1px #212121;
  cursor: pointer;
  border-radius: 4px; }
  main.login .signup .action {
    font-weight: 600;
    padding-left: 8px;
    color: #e94576;
    cursor: pointer; }
  main.login .signup:hover {
    border: dashed 1px #e94576; }
    main.login .signup:hover .action {
      color: #f8769d; }

main.login .forgot {
  display: inline-block;
  padding-left: 20px;
  color: #787878;
  font-weight: 500px;
  cursor: pointer;
  font-size: 13px; }
  main.login .forgot:hover {
    color: #e6e6e6; }
