* {
  box-sizing: border-box;
  font-family: arial; }

body, html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px; }

.clear {
  clear: both; }

.toast {
  text-align: center;
  padding-top: 80px; }
  .toast span {
    background: gainsboro;
    color: #464646;
    font-size: 18px;
    display: inline-block;
    border-radius: 999px;
    padding: 16px 32px; }

.actions {
  font-size: 12px;
  height: 28px;
  padding: 6px;
  border-bottom: solid 1px #c8c8c8; }
  .actions .lbl {
    font-weight: 600;
    padding-right: 16px;
    padding-left: 12px; }
    .actions .lbl.first {
      padding-left: 0; }
  .actions .button {
    display: inline-block;
    background: #f0f0f0;
    line-height: 1em;
    border: solid 1px #aaaaaa;
      border-bottom: solid 1px #646464;
    cursor: pointer;
    padding: 2px 4px; }
    .actions .button:hover {
      border: solid 1px #8c8c8c;
        border-bottom: solid 1px #282828; }
    .actions .button.queue {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    .actions .button.export {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    .actions .button.import {
      border-right: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }

.content_wrap.primer {
  padding-left: 140px; }
  .content_wrap.primer .actions input[type='text'] {
    outline: none;
    padding: 2px 4px;
    border: solid 1px #c8c8c8;
      border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }

.content_wrap.garbage {
  padding-left: 290px; }
  .content_wrap.garbage .actions select {
    -webkit-appearance: none;
    display: inline-block;
    outline: none;
    background: #f0f0f0;
    padding: 2px 4px;
    border: solid 1px #aaaaaa;
      border-right: none;
      border-bottom: solid 1px #646464;
    cursor: pointer;
    border-radius: 0; }
    .content_wrap.garbage .actions select:hover {
      border: solid 1px #8c8c8c;
        border-right: none;
        border-bottom: solid 1px #282828; }
    .content_wrap.garbage .actions select.active {
      background: #c8ffc8; }
  .content_wrap.garbage .actions .player_select {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }

.content_wrap.mode_vs {
  padding-left: 290px; }
  .content_wrap.mode_vs .stack {
    padding: 16px;
    float: left; }
  .content_wrap.mode_vs table {
    border-collapse: collapse; }
  .content_wrap.mode_vs td {
    vertical-align: top;
    padding: 0; }
  .content_wrap.mode_vs .panel_form {
    position: absolute;
    top: 24px;
    left: 24px;
    border: solid 1px #282828;
    min-width: 90px;
    z-index: 10;
    background: white;
    border-radius: 3px;
    padding: 8px; }
    .content_wrap.mode_vs .panel_form td.lbl {
      padding-right: 4px; }
    .content_wrap.mode_vs .panel_form td {
      vertical-align: middle;
      padding-bottom: 4px; }
    .content_wrap.mode_vs .panel_form select {
      width: 90px; }
    .content_wrap.mode_vs .panel_form input {
      width: 90px;
      padding: 4px;
      border-radius: 3px;
      border: solid 1px #c8c8c8; }
    .content_wrap.mode_vs .panel_form select,
    .content_wrap.mode_vs .panel_form input {
      outline: none; }
  .content_wrap.mode_vs td.panel {
    padding: 0;
    font-size: 12px;
    border: solid 1px #c8c8c8;
    vertical-align: top;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative; }
    .content_wrap.mode_vs td.panel .info {
      padding-left: 4px;
      padding-right: 4px; }
    .content_wrap.mode_vs td.panel.devtools_panel0 {
      background-image: url("devtools_panel0.png"); }
    .content_wrap.mode_vs td.panel.devtools_panel1 {
      background-image: url("devtools_panel1.png"); }
    .content_wrap.mode_vs td.panel.devtools_panel2 {
      background-image: url("devtools_panel2.png"); }
    .content_wrap.mode_vs td.panel.devtools_panel3 {
      background-image: url("devtools_panel3.png"); }
    .content_wrap.mode_vs td.panel.devtools_panel4 {
      background-image: url("devtools_panel4.png"); }
    .content_wrap.mode_vs td.panel.devtools_panel5 {
      background-image: url("devtools_panel5.png"); }
    .content_wrap.mode_vs td.panel.devtools_panel6 {
      background-image: url("devtools_panel6.png"); }
    .content_wrap.mode_vs td.panel.changed {
      background-color: #c8c8ff; }
    .content_wrap.mode_vs td.panel .prop.index {
      text-align: right;
      font-size: 11px; }
    .content_wrap.mode_vs td.panel .prop.state {
      text-transform: uppercase; }
    .content_wrap.mode_vs td.panel .prop.changed {
      color: #0000c8;
      font-weight: 600; }
    .content_wrap.mode_vs td.panel.inv {
      background-color: #e6e6e6; }
    .content_wrap.mode_vs td.panel.vis {
      background-color: #c8c8c8; }
  .content_wrap.mode_vs .actions .checkbox {
    display: inline-block;
    padding-right: 8px; }
    .content_wrap.mode_vs .actions .checkbox input {
      margin: 0;
      margin-right: 4px;
      outline: none; }

.column {
  position: fixed;
  z-index: 2;
  top: 0;
  height: 100%;
  border-right: solid 1px #a3a3a3;
  background: white; }
  .column.snapshots {
    width: 140px;
    left: 0; }
  .column.components {
    width: 150px;
    left: 140px; }
  .column .item {
    font-size: 12px;
    padding: 2px 5px;
    position: relative; }
    .column .item:nth-child(even) {
      background: whitesmoke; }
    .column .item:hover {
      text-decoration: underline;
      background: #ebf2fc; }
    .column .item.current .marker {
      position: absolute;
      right: 0;
      top: 4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 10px 5px 0;
      border-color: transparent #787878 transparent transparent; }
    .column .item.active {
      color: white;
      background: #3879d9; }
      .column .item.active.current .marker {
        border-color: transparent black transparent transparent; }
  .column .heading {
    position: absolute;
    height: 28px;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background: #f3f3f3;
    border-bottom: solid 1px #cccccc;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    color: #5a5a5a; }
    .column .heading .title {
      font-weight: 600;
      padding-top: 6px;
      padding-bottom: 6px; }
  .column .column_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 28px; }
  .column .items {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto; }

.tabs .tab {
  float: left;
  display: inline-block;
  padding: 4px 5px;
  border: solid 1px #f3f3f3;
  border-bottom: none;
  cursor: pointer; }
  .tabs .tab:hover {
    background: #e5e5e5;
    border: solid 1px #e5e5e5;
    border-bottom: none; }
  .tabs .tab.active {
    background: white;
    border: solid 1px #cccccc;
    border-bottom: none; }
    .tabs .tab.active:hover {
      background: #e5e5e5;
      border: solid 1px #cccccc;
      border-bottom: none; }
