* {box-sizing: border-box; }
html,body{ 
  background: rgb(33,33,33);
  margin:0;
  padding:0;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  color: rgb(246,246,246);
  font-size: 11px;
}
body{overflow: hidden}
.divider {
  position: relative;
  border-bottom: solid 1px rgb(0,0,0);
}

div::-webkit-scrollbar,
div::-webkit-scrollbar-track,
div::-webkit-scrollbar-track-piece {
  background: rgb(33,33,33);
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-thumb {
  background: rgb(20,20,20);
  border-radius: 999px;
}

.divider:after {
  width: 100%;
  content: '';
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: solid 1px rgb(48,48,48);
}
nav .tab {
  cursor: pointer;
  float: left;
  font-size: 13px;
  display: inline-block;
  padding: 8px 16px;
}
nav .tab.active {
  background: rgb(40,40,40);
}
.clear { display: block; clear: both; }
form {
  padding: 24px 40px;
  border-right: solid 1px rgb(48,48,48)
}
.title {
  color: rgb(246,246,246);
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  text-shadow: 1px 1px #000000;
}
.p0 table { margin-right: 16px; }
.text_field        { margin-bottom: 16px; }
.text_field .lbl,
.text_field label { 
  font-weight: 600;
  font-size: 11px;
}
.text_field .input,
.text_field input {
  padding: 6px 8px;
  width: 70px;
  color: rgb(255,255,255);
  outline: none;
  height: 29px;
  font-size: 11px;
  border-radius: 3px;
  border: solid 1px rgb(0,0,0);
  background: rgb(42,42,42);
  box-shadow: inset 0px 0px 3px #111;
}
.text_field .input.setting {
  border: solid 1px rgb(0,0,0);
  background: rgb(62,62,62);
  box-shadow: inset 0px 0px 3px #111;
}
.text_field.host input{
  min-width: 120px;
}
.text_field.replay_dir label {
  display: block;
  padding-bottom: 8px;
}
.text_field.replay_dir .input {
  width: 100%;
}
.button,
input[type='submit'] {
  cursor: pointer;
  display: inline-block;
  outline: none;
  min-width: 80px;
  text-align: center;
  font-size: 11px;
  border-radius: 3px;
  color: rgb(255,255,255);
  background: linear-gradient(rgb(47,47,47), rgb(32,32,32));
  border: solid 1px rgb(0,0,0);
  padding: 6px 10px;
  padding-bottom: 7px;
}
.button.small {
  min-width: auto;
  padding: 2px 7px;
}
.button.small.icon .fa {
  margin-right: 4px;
}

.data-table {
  color: rgb(255,255,255);
  outline: none;
  font-size: 11px;
  border-radius: 3px;
  border: solid 1px rgb(0,0,0);
  background: rgb(42,42,42);
  box-shadow: inset 0px 0px 3px #111;
  overflow: auto;
}
.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table .item td{
  padding: 6px 8px;
}

.data-table tr:nth-child(odd) td{
  background: rgb(38,38,38);
}

.p0, .p1 { float: left; }

.settings_replay .buttons {
  padding-top: 16px;
  text-align: right;
}
.settings_replay .buttons .reveal,
.settings_replay .buttons .change{
  margin-right: 8px;
}
.settings_replay .data-table{
  height: 260px;
}

.settings_replay .actions {
  text-align: right;
}
.settings_replay .actions .replay{
  margin-right: 8px;
}
